
<div class="weui-row weui-no-gutter col-border line2 panel_nav cou_nav swiper-container" id="list_nav">
	<div class="swiper-wrapper">
	
	{if $member['modelid'] == 7}
		{php $n=$j=0;}
		{list table=category parentid=0 modelid=1}
			<div class="swiper-slide text-c"><a href="/?catid={$v[catid]}"{if $v[catid] == $catid}{php $j=$n;} class="open"{/if}>{$v[catname]}</a></div>
			{php $n++;}
		{/list}
	{else}



		{php $n=$j=0;}
		{php $catids[]=1;}
		{nav parentid=1}
		{php $catids[]=$v[catid];}
		{/nav}
		{php $catids = implode(',',$catids);}
		{list table=category parentid=0 catid=$catids}
			<div class="swiper-slide text-c"><a href="/?catid={$v[catid]}"{if $v[catid] == $catid}{php $j=$n;} class="open"{/if}>{$v[catname]}</a></div>
			{php $n++;}
		{/list}
		{list table=category catid=34 num=1}
			<div class="swiper-slide text-c"><a href="/?catid={$v[catid]}"{if $v[catid] == $catid}{php $j=$n;} class="open"{/if}>{$v[catname]}</a></div>
			{php $n++;}
		{/list}
	{/if}


	</div>
</div>
<script type="text/javascript">
$(function(){
	$("#list_nav").swiper({
	    /*freeMode : true,*/
	    paginationClickable: true,
        slidesPerView: 4,
        spaceBetween: 0,
        initialSlide: {$j}
	  });
});
</script>
