{php $n=0;}
		{list catid=$catid page=$page order=status_desc,id_desc iaeweb=1}
		{php $n++;}
<div class="weui_cells weui_panel_access{if $n==1} nomtop{/if}">
	<div class="weui_panel_bd">
		<div class="weui_media_box weui_media_text mouse_a" onclick="window.location.href='{$v[url]}';">
			<h4 class="weui_media_title">
				<span class="pull-right color-blue text-sm">{$cats[$v[catid]][catname]}</span>
				{function.strcut($v[title],26)}
			</h4>
			<p class="weui_media_desc">{$v[description]}</p>
			<ul class="weui_media_info">
				<li class="weui_media_info_meta">{function.date('Y-m-d',$v['time'])}</li>
				<!--li class="pull-right"><a href="{$v[url]}">展开 <i class="ion-ios-arrow-down"></i></a></li-->
			</ul>
		</div>
		{if !empty($v[images])}
	    <div class="warp">
			{php $p = unserialize($v[images]);}
			<div class="weui-row">
				{php $n=0;}
				{loop $p[fileurl] $key=>$t}
				{if $n<3}
				<div class="weui-col-33">
					<img src="{$t}" width="100%" class="radius5">
				</div>
				{/if}
				{php $n++;}
				{/loop}
			</div>
	    </div>
	    {/if}
		<div class="weui-row weui-no-gutter col-border like_btn">
	    	<a href="javascript:;" data-id="{$v[id]}" data-type="1" class="weui-col-33 text-c color-gray a_like">
	    		<img src="/assets/images/xin.png" /><!--i class="ion-ios-heart-outline"></i--> <span>{$v[loves]}</span>
	    	</a>
	    	<a href="javascript:;" data-id="{$v[id]}" data-type="0" class="weui-col-33 text-c color-gray a_like">
	    		<img src="/assets/images/ty.png" /><!--i class="ion-ios-analytics-outline"></i--> <span>{$v[hates]}</span>
	    	</a>
	    	<a href="{$v[url]}#comm" class="weui-col-33 text-c color-gray">
	    		<img src="/assets/images/pl.png" /><!--i class="ion-ios-chatbubble-outline"></i--> {$v[shares]}
	    	</a>
	    </div>
    </div>
</div>
		{/list}

		{$pages}